extends layout

block content
  br
  h1(style='color:blue') #{title}
  br
  main(role='main')
  // Wrap the rest of the page in another container to center all the content.
  .container.marketing
    // Three columns of text below the carousel
    .row
      .col-lg-4
        form(action='/processContact/', method='post', class='form-horizontal')
          label(class='control-label', for='name') Name:
          div(class='form-group')
            input(type='text',
                  id='name',
                  name='name',
                  placeholder='Name',
                  class='form-control')
          label(class='control-label', for='email') Email:
          div(class='form-group')
            input(type='text',
                  id='email',
                  name='email',
                  placeholder='Email',
                  class='form-control')
          label(class='control-label', for='message') Message:
          div(class='form-group')
            input(type='text',
                  id='message',
                  name='message',
                  placeholder='Message',
                  class='form-control')
        
          div(class='text-center')
            button(type='submit', class='btn btn-primary') Submit
      // /.col-lg-6
      br
      .col-lg-4
        #map-canvas  
      .col-md-4(style='float:right')
       br
       h5  Our Email
       a(href='mailto:catfish3230@gmail.com') catfish3230@gmail.com
       br
       br
       h5 Our Office
       p
         strong TORONTO OFFICE
         br
         | 301 Front Street West
         br
         | Toronto, ON M5V2T6
         br
       p
         strong MONTREAL OFFICE
         br
         | Suite 201, 2000 Brush Street
         br
         | Montreal, QC H1A 0A1
         br
       p
         strong VANCOUVER OFFICE
         br
         | Suite 100, 151 Charles Street West
         br
         | Vancouver, BC V62Y9
         br
