extends layout
block content
  .row
    .col-7(style='padding-top: 2em;')
    .col-5(style='padding-top: 15%;')
      .card(style='height: 130%;').align-items-center
        #alert-error(class='alert') #{errorMessage}
        .row.my-auto
          .card-body
            h4.card-title Already a user?

            form(action='/processLogin/',
                 method='post',
                 class='form-horizontal')

              label(class='control-label', for='email') Email:
              div(class='form-group')
                input(type='text',
                      id='email',
                      name='email',
                      placeholder='Email',
                      class='form-control')

              label(class='control-label', for='pwd') Password:
              div(class='form-group')
                input(type='password',
                      id='pwd',
                      name='pwd',
                      placeholder='Password',
                      class='form-control')
                      

              div(class='text-center')
                button(type='submit', class='btn btn-primary') Log In
                a(style='padding-left: 1em;', href='/register/') Not a user? Register today
  
  script(src='/bower_components/jquery/dist/jquery.js')
  script.
    console.log($('#alert-error')[0].innerText)
    $(function(){
      if ($('#alert-error')[0].innerText != "") {
        $('#alert-error').addClass('alert-danger');
      } 
    });
