extends layout
block content
  
  h1(align= "center")= title
  
  form(action='/processLogin/',
       method='post',
       class='form-horizontal')

    label(class='control-label col-md-1', for='email') Email:
    div(class='col-sm-10 form-group')
      input(type='text',
            id='email',
            name='email',
            placeholder='Email',
            class='form-control')

    label(class='control-label col-md-1', for='pwd') Password:
    div(class='col-sm-10 form-group')
      input(type='password',
            id='pwd',
            name='pwd',
            placeholder='Password',
            class='form-control')
            

    div(class='col-md-offset-1 col-md-1')
      button(type='submit', class='btn btn-primary') Log In
      
      
    br
    div= errorMessage
