extends layout-signedin

block content
  #alert-error(class='alert') #{errorMessage}
  .container
    .row
      .col-8.mx-auto 
        #card.card(style='')
          img.card-img-top(src='https://picsum.photos/700/450?random', alt='Catfish profile picture')
          .card-body
            h5.card-title #{firstName} #{lastName}, #{age}
            h6.card-subtitle.mb-2.text-muted #{location}
            p.card-text #{bio}
            .container.text-center
              form(action='/main/',
                   method='post',
                   class='form-horizontal')
                   button.btn.btn-primary(type='submit', name='vote', value='like') Like
                   button.btn.btn-danger(type='submit', name='vote', value='dislike') Dislike
    
  script(src='/bower_components/jquery/dist/jquery.js')
  script.
    $(function(){
      if ($('#alert-error')[0].innerText != "") {
        $('#alert-error').addClass('alert-warning text-center');
        $(':button').prop('disabled', true);
      } 
    });
          
