extends layout
block content
  .row
    .col-7(style='padding-top: 2em;')
      .container.text-center(style='padding-top: 35%')
        h2 "There's plenty of fish in the sea...
        h3 meet your Catfish today."
    .col-5(style='padding-top: 10%;')
      .card.align-items-center
        #alert-error(class='alert') #{errorMessage}
        .row.my-auto
          .card-body(style='margin-right: 10%; margin-left: 10%;')
            div= errorMessage
            h4.card-title Let's get started

            form(action='/processRegistration/',
                 method='post',
                 class='form-horizontal')
              
              label(class='control-label', for='firstName') First Name:
              div(class='form-group') 
                input(type='text',
                      id='firstName',
                      name='firstName',
                      placeholder='First Name',
                      class='form-control')  
              
              div(class='form-group')        
                label(class='control-label', for='lastName') Last Name:
                input(type='text',
                      id='lastName',
                      name='lastName',
                      placeholder='Last Name',
                      class='form-control')
                      
              div(class='form-group')         
                label(class='control-label', for='email') Email:
                input(type='text',
                      id='email',
                      name='email',
                      placeholder='Email',
                      class='form-control')
                
              div(class='form-group')      
                label(class='control-label', for='pwd') Password:
                input(type='password',
                      id='pwd',
                      name='pwd',
                      placeholder='Password',
                      class='form-control')
              
              div(class='form-group')
                label(class='control-label', for='gender') Gender:
                select(id='gender', name='gender' , class='form-control')
                  option(value = "Male", name="gender") Male
                  option(value = "Female", name="gender") Female
                  option(value = "Other", name="gender") Other
                  
              div(class='form-group')
                label(class='control-label', for='birthDate') Birth Date:
                input(type='Date',
                      id='birthDate',
                      name='birthDate',
                      class='form-control')
              
              div(class='form-group')
                label(class='control-label', for='bio') Bio:
                textarea(rows="4",
                        cols="50",
                        type='text',
                        id='bio',
                        name='bio',
                        class='form-control')      
                      
              div(class='text-center')
                button(type='submit', class='btn btn-primary') Sign Up
                a(style='padding-left: 1em;', href='/login/') Already a user? Log in
              
  script(src='/bower_components/jquery/dist/jquery.js')
  script.
    console.log($('#alert-error')[0].innerText)
    $(function(){
      if ($('#alert-error')[0].innerText != "") {
        $('#alert-error').addClass('alert-danger');
      } 
    });
