extends layout-signedin
block content
  .row(style='padding-top: 5%;').justify-content-center
    .card.col-6
      .card-body
        h4.card-title Update Profile information 
        div
          form(action='/processUpdate/', 
               method='post', 
               class='form-horizontal')
             
            label(class='control-label', for='firstName') First Name:
            div(class='form-group')
             input(type='text',
                   id='firstName',
                   name='firstName',
                   placeholder='First Name',
                   class='form-control',
                   value= firstName)  
                         
            label(class='control-label', for='lastName') Last Name:
            div(class='form-group')
             input(type='text',
                   id='lastName',
                   name='lastName',
                   placeholder='Last Name',
                   class='form-control',
                   value= lastName) 
                            
            label(class='control-label', for='email') Email:
            div(class='form-group')
                input(type='text',
                      id='email',
                      name='email',
                      placeholder='Email',
                      class='form-control',
                      value= email,
                      readonly="readonly")

            label(class='control-label', for='pwd') Password:
            div(class='form-group')
             input(type='password',
                   id='pwd',
                   name='pwd',
                   placeholder='Password',
                   class='form-control',
                   value= password)
                                
            label(class='control-label', for='bio') Bio:
            div(class='form-group')
              textarea(rows="4",
                      cols="30",
                      type='text',
                      id='bio',
                      name='bio',
                      class='form-control',
                      maxlength="150") #{bio}    
            

            div(class='text-center')
              button(type='submit', class='btn btn-primary') Update
